PG_HOST=postgresql://rdogs.dodofk.xyz
PG_PORT=5432
PG_USERNAME=
PG_PASSWORD=
PG_DBNAME=
PG_DBURL= #postgresql://PG_USERNAME:PG_PASSWORD@rdogs.dodofk.xyz/PG_DBNAME

APP_TITLE=Fds Backend
APP_DOCS_URL=/docs
APP_REDOC_URL=

JWT_SECRET=aaaaaa
JWT_ENCODE_ALGORITHM=HS256
LOGIN_EXPIRE_DAYS=7